/* {
	border: solid 1px red;
}*/

input, select, textarea, button {
    border: none;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

html, body {
	height: 100%;
	background-color: white;
	cursor: default;
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

::-webkit-input-placeholder  { color: rgba(127, 218, 255, 1) }
:-moz-placeholder { color: rgba(127, 218, 255, 1) }
::-moz-placeholder { color: rgba(127, 218, 255, 1) }
:-ms-input-placeholder { color: rgba(127, 218, 255, 1) } 

.billboard {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 100%;
	height: 40%;
	min-height: 40%;
	font-family: 'Dancing Script', cursive;
	z-index: 50;

}

.answer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 60%;
	width: 100%;
	min-height: 60%;
	text-align: center;
}

.field {
	font-family: 'Dancing Script', cursive;
	padding: .425rem;
	vertical-align: center;
	font-size: 3rem;
	border-radius: 3rem;
	width: 60%;
	height: 4rem;
	text-align: center;
	position: fixed;
	top: 10.125rem;
	left: 18.5%;
	color: transparent;
   	
}

.submit, .skip {
	position: fixed;
	height: 3.625rem;
	width: 3.625rem;
}

.submit {
	top: 16.25rem;
	left: 40%;
}

.skip {
	top: 16.95rem;
	left: 54%;
}

.submit:hover, .skip:hover {
	cursor: pointer;
}

.submit img {
	margin: 1rem 0 0 0;
	height: 3.625rem;
	width: 3.625rem;
	opacity: .9;
}

.submit img:hover {
	opacity: 1;
}

.skip img {
	margin: .6rem 0 0 0;
	height: 3.245rem;
	width: 3.245rem;
	opacity: .9;
}

.skip img:hover {
	opacity: 1;
}

.question {
	z-index: 100;
	font-size: 6rem;
	text-align: center;
	margin: 3rem;
	color: rgba(255, 180, 180, 1);
	white-space: nowrap;
	transition: font-size 1s, opacity 1s;
}

.question .failed {
	font-size: 20rem;
	white-space: nowrap;
	opacity: 0;
}

.bling {
	z-index: 100;
	eft: 40.525rem;
	left: 47%;
	top: 25.125rem;
	position: fixed;
	font-size: 3rem;
	display: none;
}

.counter {
	margin-top: -2rem;
	font-family: 'Erica One', cursive;
	text-align: center;
	font-size: 9rem;
	color: rgba(255, 180, 180, 1);
	position: fixed;
	top: 21rem;
	left: 45.4%;
}

.wrong {
	font-family: 'Erica One', cursive;
	font-size: 8rem;
	text-align: center;
	color: rgba(255, 0, 0, 1);
	position: fixed;
	top: 7.125rem;
	eft: 22.765rem;
	left: 27.2%;
	display: none;
}

.skipped {

	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 6rem;
	top: 3.9rem;
	left: 29%;
	color: rgba(255, 180, 180, 1);
	white-space: nowrap;
	display: none;
	position: fixed;

}

.alarm {
	background-image: url('../images/alarm.png');
	height: 7.15rem;
	width: 6.25rem;
	background-size: cover;
	background-repeat: no-repeat;
	position: fixed;
	top: 17.8rem;
	left: 7%;
	transition: transform .05s;
}

.timer {
	font-family: 'La Belle Aurore', cursive;
	color: black;
	text-align: center;
	margin: .7rem 0 0 0;
	font-size: 4.55rem;
}

.gameover {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	position: fixed;
	top: -69%;
	display: none;
	left: 17%;
	height: 77%;
	width: 66%;
	border-radius: 1rem;
	background-color: rgba(127, 238, 255, .7);
	z-index: 999;
}

.message {
	margin-top: -1.7rem;
	line-height: 1.4;
	color: rgba(255, 180, 180, 1);
	font-size: 6.75rem;
}

.gamestart {
	font-family: 'Dancing Script', cursive;
	color: rgba(255, 180, 180, 1);
	display: none;
	position: fixed;
	top: -5%;
	left: 5%;
	height: 90%;
	width: 90%;
	border-radius: 1rem;
	z-index: 999;
	text-align: center;
}

.welcome {
	font-size: 5.95rem;
	line-height: 1;
}

.rules {
	margin-top: -2rem;
	font-size: 3.1rem;
	line-height: 1;
}

.prompt {
	font-family: 'La Belle Aurore', cursive;
	font-size: 6rem;
	text-align: center;
	height: 8rem;
	width: 90%;
	color: transparent;
	padding: 2rem;
}